<form id="tweetbox">
  <p><label for="Tweet">Tweet</label></p>
  <p><input type="text" id="tweet" name="jonsdecision"></p>
  <p><label for="time">Seconds from now</label></p>
  <p><input type="text" id="time" name="time"/></p>
  <p><input type="submit" id="submit" value="Tweet Tweet!"></p>
</form>
